body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #003057;
    margin: 20px 0;
}

.form-container {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin-bottom: 20px;
}

.form-container label {
    font-weight: bold;
}

.form-container button {
    background-color: #003057;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.form-container button:hover {
    background-color: #00569c;
}

#full-transcript-container {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    max-height: 360px;
    overflow-y: auto;
}

.highlight {
    background-color: yellow;
}

.container {
    max-width: 900px;
    margin: auto;
}

.video-container {
    display: flex;
    justify-content: space-between;
}

.video-container #player {
    flex: 0 0 70%;
    height: 360px;
}

.video-container #full-transcript-container {
    flex: 0 0 30%;
    max-height: 360px;
}
